.back-image
{
	background-image: url('../images/back.jpg') !important; 
}

.singh_img
{
	background-image: url('../images/login_background.jpg') !important; 
}

.login_background
{
	
	background-image: url('../images/A1.jpg') !important; 
	 
}
 
.text-white{
	color:white;
}
.back
{
 background:rgba(10, 10, 10, 0.8);
} 
.uk-inline{
	display: inherit;
}
.uk-background-concrete
{
background: rgba(214, 214, 214,1.0);
}
.uk-notification-message{
background: rgba(51, 51, 51, 0.8);
}
